$fontfamily-title:'Roboto', sans-serif;
$fontfamily-data:'Pacifico', cursive;
$colobg: #BDB76B;
$color-box-shadow:5px 5px 20px 1px #b4b071;
$colorbg-body:#EEE8AA;
$info-color-bg: #dcd79d;
$info-color-border:#b5b05e;
$info-color-box-shadow:#b4b071;
$title-text-shadow:#2b2b29;
$card-shadow:#a8a46b;
$frontbg:#bdb36b;
$front-color-border:#bdb55b;
$back-bg:#bdb76be4;
$back-shadow:#c8be59b8;
$list-title-bg:#d8d27be4;
$list-subtitle-bg:#e1da81e4;
$back-title-color:rgb(23, 23, 23);
$back-title-color-hover: rgb(77, 76, 76);
$back-list-color-hover:rgb(157, 110, 110);
$menu-color-border:rgb(69, 69, 69);
$menu-color-bg:#ece493;
$card-border-color:rgb(98, 97, 97);
$form-wrapper-bg: rgba(0, 0, 0, 0.7);
$form-bg:rgb(65, 64, 64);
$form-btn-bg:rgb(20, 79, 20);
$form-btn-bg-activ-box-shadow:0 2px 0 rgb(11, 18, 11);
$form-btn-bg-hover:rgb(29, 175, 29);
$form-box-shadow: 0 5px 0 rgb(37, 40, 37);
$grey:grey;
$black: black;
$home-marquee:rgb(27, 2, 2);
$white: white;
$to-main-hover-bg: #ece277;
$red:red;
$yellowgreen:yellowgreen;
$buy-btn-bg:green;
$buy-btn-bg-hover: rgb(54, 225, 54);
$whitesmoke:whitesmoke;
$yellowgreen:yellowgreen;
$editable-btn-cancellation:rgb(247, 109, 109);
$editable-btn-cancellation-hover: rgb(185, 57, 57);
$add-product-cancellation: rgb(234, 108, 108);
$form-error:rgb(234, 183, 183);
$lists-list-color:blueviolet;